## IntelliJ related
.idea/
.env

## Mkdocs/docs
/doc
docs-static
doc-*

## Build
apps/server/bin/aWords

## https://www.phpliteadmin.org/
/phpLiteAdmin

## Phpliteadmin configs
docker/configurations/phpliteadmin/*
!docker/configurations/phpliteadmin/_*

## Server configs
docker/configurations/server/*
!docker/configurations/server/_*
