# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories dart
.dart_tool/
.packages
build/
pubspec.lock
/.metadata
/.flutter-plugins
/.flutter-plugins-dependencies
*.g.dart
/doc/

# Files generated during tests
.test_coverage.dart
coverage/
.test_runner.dart

# Android studio and IntelliJ
.idea

# Other
/db.sqlite
/configuration.yaml
